extends layout

block content
  h1= title
  a(href="/new") Post a new message
  ul
    each message in messages
      li 
        strong= message.user 
        | : 
        span= message.text 
        |  (Sent on 
        span= message.added
        | )
